.principal {
    background: #CCCCCC;
    padding: 30px;
}

p {
    text-align: center;
}

#2ndp {
    font-size: 20px;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.imagembeneficios {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding-right: 15%;

}